/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #3D82AD;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-white {
  color: white;
}

.mb-4 {
  margin-bottom: 24px;
}

.mt-4 {
  margin-top: 40px;
}

.logo {
  text-decoration: none;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 64px;
}

.bg-primary {
  background-color: #3D82AD;
  padding: 20px 0 28px 0;
  margin-bottom: 28px;
}

.input-group {
  margin-bottom: 16px;
}

.input-group label {
  display: block;
  margin-bottom: 4px;
}

.input-group input {
  background-color: #fff;
  border: 1px solid #77B3D7;
  padding: 7px 100px 7px 12px;
}

.btn {
  color: white;
  background-color: #77B3D7;
  border: 1px solid #B1D7FB;
  padding: 7px 25px;
  margin-bottom: 8px;
}

.btn-outline {
  color: white;
  background-color: #3D82AD;
  border: 1px solid #B1D7FB;
  padding: 7px 25px;
  margin-right: 20px;
}

.average {
  color: white;
  background-color: #3D82AD;
  border: 1px solid #B1D7FB;
  padding: 7px 25px;
  margin-right: 20px;
}

h2 {
  font-size: 28px;
  margin-bottom: 24px;
  text-align: center;
}

.list li {
  width: 588px;
  border: 1px solid #3D82AD;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 4px;
}

.list li h3 {
  margin-bottom: 8px;
  font-weight: 600;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal p {
  margin-top: 10%;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  color: red;
}

.clear {
  margin-left: 20px;
  margin-top: 10%;
}

.clear span {
  font-size: 50px;
  font-weight: bolder;
}

.blue {
  background-color: #BBFFFF;
}

.green {
  background-color: #A6FFA6;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: #EA7500;
}

.pink {
  background-color: pink;
}

.red {
  background-color: #FF5151;
}
/*# sourceMappingURL=style.css.map */