.bg-item1{
    background-image: url('https://images.unsplash.com/photo-1559321623-f0c2b0e82d3d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
}
.bg-item2{
    background-image: url('https://images.unsplash.com/photo-1560747571-e9b3c7e7868c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80');
}
.bg-item3{
    background-image: url('https://images.unsplash.com/photo-1584931999791-83ae17b2a4d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}
.bg-item4{
    background-image: url('https://images.unsplash.com/photo-1534600913328-441f6abb4e2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
}
.bg-item5{
    background-image: url('https://images.unsplash.com/photo-1569335468888-1d3e4a5a3595?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
}
.bg-item6{
    background-image: url('https://images.unsplash.com/photo-1564631028227-cd9886207fc3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1225&q=80');
}
.bg-item7{
    background-image: url('https://images.unsplash.com/photo-1506126279646-a697353d3166?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}
.bg-item8{
    background-image: url('https://images.unsplash.com/photo-1527030280862-64139fba04ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1206&q=80');
}
.bg-item9{
    background-image: url('https://images.unsplash.com/photo-1537153960513-344d9f2e8216?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}
.bg-item10{
    background-image: url('https://images.unsplash.com/photo-1558862107-d49ef2a04d72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}
.bg-item11{
    background-image: url('https://images.unsplash.com/photo-1504829857797-ddff29c27927?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}
.bg-item12{
    background-image: url('https://images.unsplash.com/photo-1449265614232-03dfc33163a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}
.bg-item13{
    background-image: url('https://images.unsplash.com/photo-1529154036614-a60975f5c760?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80');
}
.bg-item14{
    background-image: url('https://images.unsplash.com/photo-1582468546235-9bf31e5bc4a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80');
}
.bg-item15{
    background-image: url('https://images.unsplash.com/photo-1509024644558-2f56ce76c490?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}
.bg-item16{
    background-image: url('https://images.unsplash.com/photo-1558225818-388ab5bcd45d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
}
.bg-item17{
    background-image: url('https://images.unsplash.com/photo-1519872436884-4a50eb5a62db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80');
}
.bg-item18{
    background-image: url('https://images.unsplash.com/photo-1560747571-e9b3c7e7868c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80');
}
.bg-item19{
    background-image: url('https://images.unsplash.com/photo-1560920174-92abf3b69a7c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
}
.bg-item20{
    background-image: url('https://images.unsplash.com/photo-1560920452-dcdcbbb4e117?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=633&q=80');
}
.bg-item21{
    background-image: url('https://images.unsplash.com/photo-1560920452-da0369e98fe7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
}
.bg-item22{
    background-image: url('https://images.unsplash.com/photo-1574643014728-053f16745e49?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}
.bg-item23{
    background-image: url('https://images.unsplash.com/photo-1583845112203-29329902332e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
}

// bg-item
.bg-lightBlack{
    background-color:rgba(0,0,0,.5);
}
.color-gray{
    color: #FFFFFF98;
}
.circle{
    width: 16px;
    height: 16px;
    background-color: #6C51E2;
    border-radius: 50%;
}

.h2-lg{
    @media (min-width: 992px) { 
        font-size: 2rem;
    }
}
.h4-md{
    @media (max-width: 767px) {
        font-size: 1.5rem;
    }
}
.h5-md{
    @media (max-width: 767px) {
        font-size: 1.25rem;
    }
}
.h6-md{
    @media (max-width: 767px) {
        font-size: 1rem;
    }
}
.h-lg{
    @media (min-width: 992px) { 
        height: 800px !important;
    }
}
.h-medial-detail{
    width: 150px;
    height: 150px;
    @media (min-width: 768px) {
        width: 150px;
        height: 150px;
    }
    @media (min-width: 992px) { 
        width: 255px;
        height: 175px;
    }
}
.h-sm{
    height: 226px;
}
.h-detail{
    height: 247px;
    @media (min-width: 768px) {
        height: 132px;
    }
    @media (min-width: 992px) { 
        height: 213px;
    }
}
.h-md-detail{
    max-width: 315.25px;
    height: 247px;
    @media (min-width: 768px) {
        width: 143.75px;
        height: 160px;
    }
    @media (min-width: 992px) { 
        width: 315.25px;
        height: 213px;
    }
}
.h-sm-detail{
    max-width: 315.25px;
    height: 247px;
    @media (min-width: 768px) {
        width: 154.75px;
        height: 93px;
    }
    @media (min-width: 992px) { 
        width: 315.25px;
        height: 151px;
    }
}

.h-swipper{
    height: 164px;
    @media (min-width: 768px) {
        height: 185px;
    }
    @media (min-width: 992px) { 
        height: 175px;
    }
}
.h-swipper2{
    height: 181px;
    @media (min-width: 768px) {
        height: 158px;
    }
    @media (min-width: 992px) { 
        height: 263px;
    }
}
.line{
    position: absolute;
    top: 0;
    bottom: -7px;
    left: 0;
    right: 0;
    border-bottom:1px solid #6C51E2;
}
.mt-xl{
    margin-top: 70%;
    @media (min-width: 376px) { 
        margin-top: 55%;
    } 
    @media (min-width: 576px) { 
        margin-top: 40%;
    }
    @media (min-width: 768px) {
        margin-top: 30%;
    }
    @media (min-width: 992px) { 
        margin-top: 6%;
    }
}
.m-destinations{
    margin-right: 0;
    @media (min-width: 768px) {
        margin-right: 2%;
    }
    @media (min-width: 992px) { 
        margin-right: 3%;
    }
}
.m-md-destinations{
    margin-right: 0;
    @media (min-width: 768px) {
        margin-right: 2%;
    }
    @media (min-width: 992px) { 
        margin-right: 0;
    }
}

.modal.right .modal-dialog {
    position: fixed;
    bottom: 0;
    margin: auto;
    transform: translate3d(0%, 0, 0);
}
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.position-md-absolute{
    @media (min-width: 768px) {
        position: absolute;
    }
}
.position-center{
    bottom:-70%;
    left: 0;
    right: 0;
    @media (min-width: 768px) {
        bottom:-70%;
        left:3%;
        right:3%;
    }
    @media (min-width: 992px) { 
        bottom: -15%;
        left: 5%;
        right: 5%;
    }
}
.rounded-md{
    border-radius:0.25rem  0.25rem 0 0;
    @media (min-width: 768px) {
        border-radius:0.25rem 0 0 0.25rem;
    }
}
.subscribe-sapce{
    padding: 5% 0;
}
.text-sm-center{
    @media (max-width: 767px) { 
        text-align: center;
    }
}

.w-destinations{
    width: 100%;
    @media (min-width: 768px) {
        width: 48%;
    }
    @media (min-width: 992px) { 
        width: 31.333%;
    }
}
.wh-recommened{
    width: 150px;
    height: 220px;
    @media (min-width: 321px) { 
        width: 150px;
        height: 150px;
    } 
    @media (min-width: 576px) { 
        
    }
    @media (min-width: 768px) {
        width: 150px;   
        height: 150px;
    }
    @media (min-width: 992px) { 
        width: 255px;
        height: 175px;
    }
}

