.bg-cover{
    background-position: center center;
    background-size: cover;
}
.text-md-dark{
    @media (min-width: 768px) { 
        color: #000000 !important;
}
}
.postion-y{
    top: 0;
    bottom: 0;
}

